# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env


#Frontend + Reel Service
node_modules/
dist
dist-ssr
*.local


#Java / Spring Boot
# Maven / Gradle build output
target/
build/
*.log 

# Ignore all service build folders inside backend
backend/*/target/
backend/*/build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# ======================
# Misc
# ======================
*.class
*.jar
*.war
*.ear
*.swp